<!-- <form #userForm="ngForm">

  {{userForm.value|json}}
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" ngModel name="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" ngModel name="email">
  </div>
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile</label>
    <input type="tel" class="form-control" id="mobile" ngModel name="mobile">
  </div>
  <div class="mb-3">
    <label for="Gender" class="form-label">Gender</label>
    <select class="form-select mb-3" ngModel name="Gender">
      <option selected>Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="form" class="form-lebel">Favourite Pokemon</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Pikachu"
        ngModel name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio1">Pikachu</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Chikorita"
        ngModel name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio2">Chikorita</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Charizard"
        ngModel name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio3">Charizard</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="subscribe" ngModel name="subscribe">
      <label class="form-check-label" for="subscribe">Check me out</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<!-- <form #userForm="ngForm">

  {{userForm.value|json}}
  <br>
  {{user|json}}

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" [ngModel]="user.name" name="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" [ngModel]="user.email" name="email">
  </div>
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile</label>
    <input type="tel" class="form-control" id="mobile" [ngModel]="user.mobile" name="mobile">
  </div>
  <div class="mb-3">
    <label for="Gender" class="form-label">Gender</label>
    <select class="form-select mb-3" [ngModel]="user.gender" name="gender">
      <option selected value="">Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="form" class="form-lebel">Favourite Pokemon</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Pikachu"
        [ngModel]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio1">Pikachu</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Chikorita"
        [ngModel]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio2">Chikorita</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Charizard"
        [ngModel]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio3">Charizard</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="subscribe" [ngModel]="user.subscribe" name="subscribe">
      <label class="form-check-label" for="subscribe">Check me out</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<!-- <form #userForm="ngForm">

  {{userForm.value|json}}
  <br>
  {{user|json}}

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
  </div>
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile</label>
    <input type="tel" class="form-control" id="mobile" [(ngModel)]="user.mobile" name="mobile">
  </div>
  <div class="mb-3">
    <label for="Gender" class="form-label">Gender</label>
    <select class="form-select mb-3" [(ngModel)]="user.gender" name="gender">
      <option selected value="">Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="form" class="form-lebel">Favourite Pokemon</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Pikachu"
        [(ngModel)]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio1">Pikachu</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Chikorita"
        [(ngModel)]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio2">Chikorita</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Charizard"
        [(ngModel)]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio3">Charizard</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="subscribe" [(ngModel)]="user.subscribe" name="subscribe">
      <label class="form-check-label" for="subscribe">Check me out</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

<!-- <form #userForm="ngForm">

  {{userForm.value|json}}
  <br>
  {{user|json}}

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
  </div>
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile</label>
    <input type="tel" class="form-control" id="mobile" [(ngModel)]="user.mobile" name="mobile">
  </div>
  <div class="mb-3">
    <label for="Gender" class="form-label">Gender</label>
    <select class="form-select mb-3" [(ngModel)]="user.gender" name="gender">
      <option selected value="">Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="form" class="form-lebel">Favourite Pokemon</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Pikachu"
        [(ngModel)]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio1">Pikachu</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Chikorita"
        [(ngModel)]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio2">Chikorita</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Charizard"
        [(ngModel)]="user.favouritePokemon" name="favouritePokemon">
      <label class="form-check-label" for="inlineRadio3">Charizard</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="subscribe" [(ngModel)]="user.subscribe" name="subscribe">
      <label class="form-check-label" for="subscribe">Check me out</label>
    </div>
  </div>
  <div ngModelGroup="Address">
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" [(ngModel)]="address.houseNumber" name="Housenumber" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" [(ngModel)]="address.street" name="street" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" [(ngModel)]="address.city" name="city" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" [(ngModel)]="address.state" name="state" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" [(ngModel)]="address.zip" name="zip" class="form-control" id="inputZip">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<app-form></app-form>